/* Arquivo responsivo.css */
@media (max-width: 768px) {
    body {
        background-color: rgb(201, 22, 22);
    }

    .navegacao{
        border-right: 2px solid rgb(230, 236, 240);
        padding-right: 10px;
        background-color: rgb(211, 90, 90);
    }
}

@media (max-width: 480px) {
    .container {
        flex-direction: column;
    }
}
