body{
    color: rgb(15, 20, 25);
}

.navegacao a, li{
    color: rgb(15, 20, 25);
    text-decoration: none;
    list-style: none;
    border-radius: 15px;
}

.navegacao li:hover{
    background-color: rgba(15, 25, 20, 0.1);
    color: rgb(15, 20, 25);
    text-decoration: none;
    list-style: none;
    border-radius: 15px;
}

.name{
    color: rgb(15, 20, 25);
}

.user{
    color: rgb(83, 100, 113);
}

.bio{
    color: rgb(15, 20, 25);
}

.data{
    color: rgb(83, 100, 113);
}

.dateTweet{
    color: rgb(83, 100, 113);
}

.text{
    color: rgb(15, 20, 25);
    margin-top: 0px;
}

.tweet:hover{
    background-color: rgba(29, 155, 240, 0.1);
    border-radius: 10px;
}

.profilePhoto{
    width: 64px;
    border-radius: 100%;
}

.infos a{
    text-decoration: none;
    color: rgb(15, 20, 25);
}

.count{
    color: rgb(15, 20, 25);
    font-weight: bold;
}

.count:hover .estatisticas:hover, a:hover{
    text-decoration: underline;
}

.pages a{
    color: rgb(83, 100, 113);
    text-decoration: none;
}

.pages a:hover{
    background-color: rgba(15, 25, 20, 0.1);
    text-decoration: none;
}

.profile{
    display: flex;
    align-items: center;
    gap: 10px;
}

.profilePhotoTweet{
    width: 30px;
    height: 30px;
    border-radius: 100%;   
    display: flex;
}

.acoes a{
    color: rgb(83, 100, 113);
    text-decoration: none;
}

.replyshare:hover{
    background-color: rgba(29, 155, 240, 0.1);
    border-radius: 10px;
}

.retzeet:hover{
    background-color: rgba(0, 186, 124, 0.1);
    color: rgba(0, 186, 124, 1);
    border-radius: 10px;
}

.like:hover{
    background-color: rgba(249, 24, 128, 0.1);
    color: rgba(249, 24, 128, 1);
    border-radius: 10px;
}